{% extends "core/base.html" %}

{% block content %}


    <div class='h-[600px] w-[600px] mx-auto mt-16'>
            {% if messages %}
                {% for message in messages %}
                    <p class="px-2 py-1 {% if message.tags == 'success' %} bg-green-500{% endif %}">{{message}}</p>
                {% endfor %}
            {% endif %}
        <form action="" method = "POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 w-full py-1 rounded mt-5 text-white">Log In</button>

        </form>
    </div>

    {% endblock content %}