<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class=''>
    <h1 class = "text-3xl bg-cyan-400">Welcome to authentication system</h1>
   <div  class="flex items-center justify-center">
    <div class='h-[600px] w-[600px]'>
        <form action="" method = 'POST'>
            {% csrf_token %}
            {% for field in form %}
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field}}

                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}

            <button type="submit" class="bg-cyan-400 px-2 py-1 m-2 rounded">Sign Up </button>
        </form>
    </div>
   </div>
</body>
</html>