{% extends "core/base.html" %}

{% block content %}
   <div  class="flex items-center justify-center">
    <div class='h-[600px] w-[600px]'>
        <form action="" method = 'POST'>
            {% csrf_token %}
            {% for field in form %}
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field}}

                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}

            <button type="submit" class="bg-blue-500 hover:bg-blue-700 w-full py-1 rounded mt-5 text-white">Sign Up </button>
        </form>
    </div>
   </div>
{% endblock content %}